.about-me-h1{
    margin-inline-end: 4em;
    background-color: black;
    color: white;
    padding: 1% 10%;
    text-align: left;
    font-size: 40px;
    & h1{
        margin-block-start: 0;
        margin-block-end: 0;
    }
    transition: ease-in-out 1s;
    &:hover{
        margin-inline-end: 0;
        padding-inline-start: 15%;
    }
}

.about-me-p{
    font-size: 32px;
    margin-inline-start: 8.5vw;
    margin-inline-end: 8.5vw;
}

#pun{
    font-style: italic;
}

#indent{
    margin-inline-start: 5%;
}
