.site-nav{
    display: flex;
    justify-content: center;
    margin-block-start: 4em;
    margin-inline-start: 45em;
    a{
        text-decoration: none;
        text-emphasis: none;
        padding: 1.3% 3%;
        color: black;
        transition: ease-in-out 0.4s;
        font-size: 2rem;
        &:hover{
            color: white;
            background-color: black;
        }
    }
}